[color]
	ui = true
[user]
	name = Hendrikto
	email = hendrik.to@gmail.com
[core]
	editor = subl -w
	pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
	co = checkout
	s = status --short --branch
	h = "!f() { git show HEAD~$1; }; f ${1:-0}"
	it = "!git init && git commit --allow-empty -m \"Initial commit\""
	purge = "!f() { git push -d origin \"$1\"; git branch -d \"$1\"; }; f"
[credential]
	helper = cache
[push]
	default = simple
