[color]
	ui = true
[user]
	name = Hendrikto
	email = hendrik.to@gmail.com
[core]
	editor = subl -w
	pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
	co = checkout
	s = status --short --branch
	h = show HEAD
	it = "!git init && git commit --allow-empty -m \"Initial commit\""
[credential]
	helper = cache
[push]
	default = simple
