# Documentation: `man 5 networkd.conf`

[Match]
Type=wlan

[Network]
DHCP=ipv4
DNS=1.1.1.1
DNS=1.0.0.1
MulticastDNS=true

[DHCP]
RouteMetric=1024
UseDNS=false
